/*設定画面*/
@page {
    size: A4;
    margin: 0;
}

p.description {
    margin-top: 0.5em;
}

a.btn{
    width: 10em;
}

/* http://cccabinet.jpn.org/bootstrap4/javascript/forms/file-browser */

.custom-file-input:lang(ja)~.custom-file-label::after {
    content: "参照";
}

.custom-file {
    overflow: hidden;
}

.custom-file-label {
    white-space: nowrap;
}


/*印刷画面*/

table.print {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 172.8mm;
    height: 254.6mm;
    margin: -127.3mm 0 0 -86.4mm;
    border-collapse: collapse;
}

table.print td {
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
    position: relative;
}


table.print p{
    margin: 0;
}

table.print p.zipcode {
    position: absolute;
    font-size: 11pt;
    top: 5mm;
    left: 5mm;
}

table.print p.address1 {
    position: absolute;
    width: 80.0mm;
    font-size: 11pt;
    top: 12mm;
    left: 5mm;
}

table.print p.address2 {
    position: absolute;
    width: 80.0mm;
    font-size: 11pt;
    top: 18mm;
    left: 5mm;
}

table.print p.name {
    position: absolute;
    font-size: 12pt;
    top: 25.0mm ;
    left: 5mm ;
}
